In [315]:
import math
import numpy as np
import pandas as pd
# import scipy.stats as stats
import statsmodels.api as sm

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

import seaborn as sns
sns.set(rc={'figure.figsize':(16,10)}, font_scale=1.3)

from scipy import stats
from sklearn.linear_model import LogisticRegression as lr
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn import metrics
# Enabled to remove warnings for demo purposes.
import warnings
warnings.filterwarnings('ignore')

In [316]:
df = pd.read_csv('./healthcare-dataset-stroke-data.csv')

In [317]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [318]:
df_na = df.dropna()
df_na.reset_index(inplace=True)

In [319]:
pd.isnull(df_na).any()

index                False
id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                  False
smoking_status       False
stroke               False
dtype: bool

In [320]:
df_na

,index,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4904,5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
4905,5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
4906,5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
4907,5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
4908,5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [321]:
df_na['ever_married'] = df_na.ever_married.map({'Yes':1, 'No':0})
# For gender, 1 means Male, 0 means Female
df_na['gender'] = df_na.gender.map({'Male':1, 'Female':0})
# For Residence_type, 1 means Urban, 0 means Rural
df_na['Residence_type'] = df_na.Residence_type.map({'Urban':1, 'Rural':0})

In [322]:
pd.isnull(df_na).any()
df_na = df_na.dropna()
df_na.reset_index(drop=True,inplace=True)
pd.isnull(df_na).any()

index                False
id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                  False
smoking_status       False
stroke               False
dtype: bool

In [323]:
df_na

,index,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,1.0,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,2,31112,1.0,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
2,3,60182,0.0,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
3,4,1665,0.0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1
4,5,56669,1.0,81.0,0,0,1,Private,1,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,5104,14180,0.0,13.0,0,0,0,children,0,103.08,18.6,Unknown,0
4904,5106,44873,0.0,81.0,0,0,1,Self-employed,1,125.20,40.0,never smoked,0
4905,5107,19723,0.0,35.0,0,0,1,Self-employed,0,82.99,30.6,never smoked,0
4906,5108,37544,1.0,51.0,0,0,1,Private,0,166.29,25.6,formerly smoked,0
4907,5109,44679,0.0,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown,0

In [324]:
def Glucose_check(x):
    if x >= 140:
        return 1
    else:
        return 0
# 1 means it is higher than the bound. 0 means lower.
df_na['treatment_glucose_level'] = df_na.avg_glucose_level.apply(Glucose_check)

In [325]:
df_data = df_na.drop(columns=['index','id','avg_glucose_level'])
df_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,bmi,smoking_status,stroke,treatment_glucose_level
0,1.0,67.0,0,1,1,Private,1,36.6,formerly smoked,1,1
1,1.0,80.0,0,1,1,Private,0,32.5,never smoked,1,0
2,0.0,49.0,0,0,1,Private,1,34.4,smokes,1,1
3,0.0,79.0,1,0,1,Self-employed,0,24.0,never smoked,1,1
4,1.0,81.0,0,0,1,Private,1,29.0,formerly smoked,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,children,0,18.6,Unknown,0,0
4904,0.0,81.0,0,0,1,Self-employed,1,40.0,never smoked,0,0
4905,0.0,35.0,0,0,1,Self-employed,0,30.6,never smoked,0,0
4906,1.0,51.0,0,0,1,Private,0,25.6,formerly smoked,0,1
4907,0.0,44.0,0,0,1,Govt_job,1,26.2,Unknown,0,0

In [326]:
df_encoded = pd.get_dummies(df_data, columns = ['work_type','smoking_status'], \
                           prefix = {'work_type':'work_type', 'smoking_status' : 'smoking_status'}, drop_first=False)
df_encoded

,gender,age,hypertension,heart_disease,ever_married,Residence_type,bmi,stroke,treatment_glucose_level,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,36.6,1,1,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,32.5,1,0,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,34.4,1,1,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,24.0,1,1,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,29.0,1,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,18.6,0,0,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,40.0,0,0,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,30.6,0,0,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,25.6,0,1,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,26.2,0,0,1,0,0,0,0,1,0,0,0

In [327]:
df_treatment = df_encoded[df_encoded['treatment_glucose_level']==1]
df_control = df_encoded[df_encoded['treatment_glucose_level']==0]
treat_mean = df_treatment.mean()
treat_std = df_treatment.std()
control_mean = df_control.mean()
control_std = df_control.std()

In [328]:
X_list = ['gender','age','hypertension','heart_disease','ever_married','Residence_type','bmi','work_type_Govt_job',
          'work_type_Never_worked','work_type_Private','work_type_Self-employed','work_type_children','smoking_status_Unknown',
          'smoking_status_formerly smoked','smoking_status_never smoked','smoking_status_smokes']
X_descrip = ['0 to Female and 1 to Male','age of the sample','observation of hypertension','observation of heart_disease',
             'Marriage states','0 to Rural and 1 to Urban','bmi','Whether is government job',
             'Whether is never worked','Whether job is private','Whether job is self-employed','Whether job is children',
             'Whether smoking status is unknown','Whether is formerly smoked','Whether is never smoked','Whether is smokes']

In [329]:
summary_list = []

for i in range(0, len(X_list)):
    summary_list.append([X_list[i],X_descrip[i],control_mean[X_list[i]],control_std[X_list[i]],treat_mean[X_list[i]],treat_std[X_list[i]],
                    stats.ttest_ind(df_control[X_list[i]], df_treatment[X_list[i]], equal_var=False)[0]])

summary_df = pd.DataFrame(summary_list,columns=
                          ['Label', 'Variable Description','Controls Mean','Controls STD','Treated Mean','Treated STD','t-Statistics'])
summary_df

,Label,Variable Description,Controls Mean,Controls STD,Treated Mean,Treated STD,t-Statistics
0,gender,0 to Female and 1 to Male,0.398411,0.489630,0.472149,0.499555,-3.740135
1,age,age of the sample,40.536081,22.300920,55.720477,19.421345,-19.284613
2,hypertension,observation of hypertension,0.069090,0.253638,0.217507,0.412824,-9.550201
3,heart_disease,observation of heart_disease,0.035388,0.184780,0.127321,0.333553,-7.365844
4,ever_married,Marriage states,0.620366,0.485354,0.831565,0.374501,-13.556302
5,Residence_type,0 to Rural and 1 to Urban,0.506259,0.500021,0.513263,0.500156,-0.353752
6,bmi,bmi,28.298387,7.679817,32.179045,7.997494,-12.331939
7,work_type_Govt_job,Whether is government job,0.125662,0.331508,0.143236,0.350546,-1.276873
8,work_type_Never_worked,Whether is never worked,0.004815,0.069229,0.002653,0.051468,1.000831
9,work_type_Private,Whether job is private,0.570053,0.495128,0.586207,0.492839,-0.827426
10,work_type_Self-employed,Whether job is self-employed,0.146124,0.353273,0.222812,0.416409,-4.755837
11,work_type_children,Whether job is children,0.153346,0.360364,0.045093,0.207646,11.510718
12,smoking_status_Unknown,Whether smoking status is unknown,0.323062,0.467703,0.187003,0.390172,8.527707
13,smoking_status_formerly smoked,Whether is formerly smoked,0.157920,0.364710,0.238727,0.426588,-4.887332
14,smoking_status_never smoked,Whether is never smoked,0.370246,0.482928,0.416446,0.493296,-2.373522
15,smoking_status_smokes,Whether is smokes,0.148772,0.355907,0.157825,0.364819,-0.629190

In [330]:
df = df_encoded

In [331]:
Y = df.stroke

df_data = df.loc[:,df.columns !='stroke']
T = df_data.treatment_glucose_level
X = df_data.loc[:,df_data.columns !='treatment_glucose_level']

In [332]:
X_g = ['age','hypertension','heart_disease','bmi']

In [333]:
T.mean()

0.15362673186634065

In [334]:
model_initial = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:3.75}))])
model_initial.fit(X.loc[:,X_g], T)

predictions_binary = model_initial.predict(X.loc[:,X_g])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.7763

Confusion matrix:
[[3421  733]
 [ 365  389]]

F1 score is: 0.4147

In [335]:
likelihood_ratio_table = []
X_l = X_g.copy()

while not likelihood_ratio_table or max([x for x in likelihood_ratio_table[-1].values() if x != '-']) >= 1:
    if likelihood_ratio_table:
        max_likelihood_ratio = max([x for x in likelihood_ratio_table[-1].values() if x != '-'])
        next_label = [key for key in likelihood_ratio_table[-1] if likelihood_ratio_table[-1][key] == max_likelihood_ratio][0]
        X_l.append(next_label)
    model = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:3.75}))])
    model.fit(X.loc[:,X_l], T)
    step = {}
    for x in X.columns:
        if x in X_l:
            step[x] = '-'
        else:
            X_new = X_l.copy()
            X_new.append(x)
            model_new = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:3.75}))])
            model_new.fit(X.loc[:,X_new], T)
            
            step[x] = -2*((-metrics.log_loss(T, model.predict_proba(X.loc[:,X_l]))*len(T))
                      -(-metrics.log_loss(T, model_new.predict_proba(X.loc[:,X_new]))*len(T)))
    likelihood_ratio_table.append(step)

In [336]:
X_l

['age',
 'hypertension',
 'heart_disease',
 'bmi',
 'gender',
 'work_type_children',
 'smoking_status_Unknown',
 'ever_married',
 'work_type_Never_worked']

In [337]:
linear_terms_list = []
for x in X.columns:
    row = [step[x] for step in likelihood_ratio_table]
    row.insert(0, x)
    linear_terms_list.append(row)
    
columns = ['Label']
for i in range(0,len(likelihood_ratio_table)):
    step = 'Step ' + str(i+1)
    columns.append(step)
    
linear_terms_df = pd.DataFrame(linear_terms_list,columns = columns)
linear_terms_df

,Label,Step 1,Step 2,Step 3,Step 4,Step 5,Step 6
0,gender,18.388731,-,-,-,-,-
1,age,-,-,-,-,-,-
2,hypertension,-,-,-,-,-,-
3,heart_disease,-,-,-,-,-,-
4,ever_married,0.644154,0.538906,2.441166,2.248674,-,-
5,Residence_type,0.076674,0.08478,0.078481,0.091419,0.096145,0.078832
6,bmi,-,-,-,-,-,-
7,work_type_Govt_job,0.121511,0.096339,-0.012854,-0.003263,0.010848,0.005688
8,work_type_Never_worked,0.637735,0.571155,0.95948,0.987351,1.281822,-
9,work_type_Private,-0.023031,0.076018,0.239776,0.301466,0.264646,0.396416
10,work_type_Self-employed,0.321631,0.203922,0.367294,0.378302,0.27433,0.277277
11,work_type_children,13.208688,12.041338,-,-,-,-
12,smoking_status_Unknown,2.322688,2.605622,6.933289,-,-,-
13,smoking_status_formerly smoked,1.269934,0.539815,0.54935,-0.16559,-0.185442,-0.159341
14,smoking_status_never smoked,0.524954,1.313765,2.432191,0.27296,0.285101,0.277344
15,smoking_status_smokes,0.283129,0.409003,-0.060762,0.624722,0.701567,0.637203

In [338]:
model_linear = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:3.75}))])
model_linear.fit(X.loc[:,X_l], T)

predictions_binary = model_linear.predict(X.loc[:,X_l])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.7692

Confusion matrix:
[[3360  794]
 [ 339  415]]

F1 score is: 0.4228

In [339]:
X_copy = X.loc[:,X_l]

for i in range(0, len(X_l)):
    j = i
    while j < len(X_l):
        X_copy[X_l[i]+'*'+X_l[j]] = X_copy[X_l[i]] * X_copy[X_l[j]]
        j += 1

X_copy

,age,hypertension,heart_disease,bmi,gender,work_type_children,smoking_status_Unknown,ever_married,work_type_Never_worked,age*age,...,work_type_children*work_type_children,work_type_children*smoking_status_Unknown,work_type_children*ever_married,work_type_children*work_type_Never_worked,smoking_status_Unknown*smoking_status_Unknown,smoking_status_Unknown*ever_married,smoking_status_Unknown*work_type_Never_worked,ever_married*ever_married,ever_married*work_type_Never_worked,work_type_Never_worked*work_type_Never_worked
0,67.0,0,1,36.6,1.0,0,0,1,0,4489.0,...,0,0,0,0,0,0,0,1,0,0
1,80.0,0,1,32.5,1.0,0,0,1,0,6400.0,...,0,0,0,0,0,0,0,1,0,0
2,49.0,0,0,34.4,0.0,0,0,1,0,2401.0,...,0,0,0,0,0,0,0,1,0,0
3,79.0,1,0,24.0,0.0,0,0,1,0,6241.0,...,0,0,0,0,0,0,0,1,0,0
4,81.0,0,0,29.0,1.0,0,0,1,0,6561.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,13.0,0,0,18.6,0.0,1,1,0,0,169.0,...,1,1,0,0,1,0,0,0,0,0
4904,81.0,0,0,40.0,0.0,0,0,1,0,6561.0,...,0,0,0,0,0,0,0,1,0,0
4905,35.0,0,0,30.6,0.0,0,0,1,0,1225.0,...,0,0,0,0,0,0,0,1,0,0
4906,51.0,0,0,25.6,1.0,0,0,1,0,2601.0,...,0,0,0,0,0,0,0,1,0,0
4907,44.0,0,0,26.2,0.0,0,1,1,0,1936.0,...,0,0,0,0,1,1,0,1,0,0

In [354]:
likelihood_ratio_table = []
X_2 = X_l.copy()

while not likelihood_ratio_table or max([x for x in likelihood_ratio_table[-1].values() if x != '-']) >= 2.71:
    if likelihood_ratio_table:
        max_likelihood_ratio = max([x for x in likelihood_ratio_table[-1].values() if x != '-'])
        next_label = [key for key in likelihood_ratio_table[-1] if likelihood_ratio_table[-1][key] == max_likelihood_ratio][0]
        X_2.append(next_label)
    model = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:3.75}))])
    model.fit(X_copy.loc[:,X_2], T)
    step = {}
    for x in X_copy.columns:
        if x in X_2:
            step[x] = '-'
        else:
            X_new = X_2.copy()
            X_new.append(x)
            model_new = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:3.75}))])
            model_new.fit(X_copy.loc[:,X_new], T)
            
            step[x] = -2*((-metrics.log_loss(T, model.predict_proba(X_copy.loc[:,X_2]))*len(T))
                      -(-metrics.log_loss(T, model_new.predict_proba(X_copy.loc[:,X_new]))*len(T)))
    likelihood_ratio_table.append(step)

In [355]:
final_terms_list = []
for x in X_copy.columns:
    row = [step[x] for step in likelihood_ratio_table]
    row.insert(0, x)
    final_terms_list.append(row)
    
final_columns = ['Label']
for i in range(0,len(likelihood_ratio_table)):
    step = 'Step ' + str(i+1)
    final_columns.append(step)
    
final_terms_df = pd.DataFrame(final_terms_list,columns = final_columns)
final_terms_df

,Label,Step 1,Step 2,Step 3,Step 4,Step 5,Step 6,Step 7,Step 8,Step 9
0,age,-,-,-,-,-,-,-,-,-
1,hypertension,-,-,-,-,-,-,-,-,-
2,heart_disease,-,-,-,-,-,-,-,-,-
3,bmi,-,-,-,-,-,-,-,-,-
4,gender,-,-,-,-,-,-,-,-,-
5,work_type_children,-,-,-,-,-,-,-,-,-
6,smoking_status_Unknown,-,-,-,-,-,-,-,-,-
7,ever_married,-,-,-,-,-,-,-,-,-
8,work_type_Never_worked,-,-,-,-,-,-,-,-,-
9,age*age,-0.395083,0.242698,0.222412,0.634892,0.794139,0.192182,0.161724,0.239706,-0.05791
10,age*hypertension,1.134642,0.121867,0.186329,0.192594,0.090188,0.176115,0.24868,0.318727,0.616852
11,age*heart_disease,2.052533,1.154657,1.449116,1.397082,1.368347,1.318238,1.39037,1.553235,1.828104
12,age*bmi,52.390439,-,-,-,-,-,-,-,-
13,age*gender,0.054506,-0.1113,0.34542,0.255804,0.341554,0.325739,0.410426,0.580975,0.502356
14,age*work_type_children,1.709071,0.070273,0.093626,1.210541,1.167352,0.627377,0.460135,0.648566,0.45136
15,age*smoking_status_Unknown,2.212152,0.758393,0.75355,6.933948,6.853911,-,-,-,-
16,age*ever_married,4.096297,3.043845,3.331986,3.584886,3.772223,2.835876,2.641572,2.758149,-
17,age*work_type_Never_worked,4.707097,3.681793,3.666862,3.536654,3.538058,2.90531,2.853899,-,-
18,hypertension*hypertension,-0.019751,-0.022198,0.028162,0.017116,-0.012654,-0.086584,-0.030435,0.002334,0.014741
19,hypertension*heart_disease,1.576317,1.790556,1.692299,1.727923,2.561992,2.5724,2.447212,2.526892,2.395264
20,hypertension*bmi,3.637503,7.105621,6.987207,7.217258,-,-,-,-,-
21,hypertension*gender,1.636674,1.502382,1.163721,1.150829,1.203373,1.104974,1.232328,1.28534,1.153501
22,hypertension*work_type_children,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,-0.0
23,hypertension*smoking_status_Unknown,3.397261,4.935118,4.870744,3.975808,3.965967,6.544874,-,-,-
24,hypertension*ever_married,2.245147,0.787485,0.827937,0.705678,0.713305,0.629109,0.621549,0.730156,0.065883
25,hypertension*work_type_Never_worked,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,-0.0
26,heart_disease*heart_disease,-0.005725,-0.005248,0.021243,0.025735,-0.042832,-0.071165,-0.030751,0.018027,-0.015023
27,heart_disease*bmi,0.567605,0.586883,0.630622,0.722818,0.595732,0.416667,0.351988,0.567324,0.518497
28,heart_disease*gender,7.757533,7.938083,-,-,-,-,-,-,-
29,heart_disease*work_type_children,0.340968,0.163805,0.145572,0.119499,0.113025,0.043929,0.097399,0.154905,0.13009
30,heart_disease*smoking_status_Unknown,0.0169,0.015659,0.069687,0.037693,0.04753,0.662395,0.880312,0.90798,0.780677
31,heart_disease*ever_married,0.522922,0.658256,0.203297,0.235772,0.181203,0.103666,0.265667,0.321559,1.796255
32,heart_disease*work_type_Never_worked,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,-0.0
33,bmi*bmi,6.250672,1.599038,1.67419,1.167642,0.204689,0.175686,0.258727,0.33391,0.56558
34,bmi*gender,1.579575,0.430415,0.601818,0.610794,0.284049,0.215268,0.129228,0.285928,0.187469
35,bmi*work_type_children,3.312831,1.039594,1.130143,0.205926,0.151841,0.074166,0.139805,0.177751,0.09258
36,bmi*smoking_status_Unknown,1.841066,-0.00173,-0.003772,1.089283,1.790972,1.262249,1.399913,1.334435,1.263542
37,bmi*ever_married,18.580917,0.760649,0.63971,0.772973,0.84484,0.621061,0.676082,0.724724,0.372041
38,bmi*work_type_Never_worked,3.525557,1.22986,1.21711,1.154958,1.164701,0.75325,0.781464,0.127624,0.133301
39,gender*gender,-0.015515,-0.002627,0.033239,0.013908,-0.051867,-0.089899,-0.053921,0.051611,0.022152
40,gender*work_type_children,0.732906,0.611653,0.353802,0.364379,0.332185,0.306031,0.29434,0.417586,0.391018
41,gender*smoking_status_Unknown,0.55478,0.536708,0.370342,0.623147,0.622489,0.473513,0.457549,0.463145,0.455795
42,gender*ever_married,0.101555,0.09672,0.277026,0.305358,0.250176,0.292158,0.30681,0.45544,0.483906
43,gender*work_type_Never_worked,0.02,0.023689,0.036836,0.071356,0.043233,0.073004,0.101536,1.093819,0.976761
44,work_type_children*work_type_children,0.005269,-0.002777,0.014042,0.023012,-0.030814,-0.089481,0.054392,0.02557,0.023092
45,work_type_children*smoking_status_Unknown,3.664023,7.549818,7.583003,-,-,-,-,-,-
46,work_type_children*ever_married,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,-0.0
47,work_type_children*work_type_Never_worked,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,-0.0
48,smoking_status_Unknown*smoking_status_Unknown,-0.014724,-0.01104,0.011188,0.006675,-0.019407,-0.062624,-0.068338,0.05758,-0.025067
49,smoking_status_Unknown*ever_married,-0.055448,0.426725,0.465981,0.452385,0.462671,0.081567,0.188114,0.297681,0.558136
50,smoking_status_Unknown*work_type_Never_worked,0.813272,0.337026,0.335892,0.257547,0.218577,-0.095945,-0.052698,0.348083,0.302226
51,ever_married*ever_married,-0.01163,-0.008233,-0.02541,0.02102,0.000761,-0.041338,-0.063235,0.07819,0.030958
52,ever_married*work_type_Never_worked,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,-0.0
53,work_type_Never_worked*work_type_Never_worked,-0.01877,-0.008065,0.013835,0.018506,0.004003,-0.060037,-0.039559,0.019937,-0.027327

In [356]:
X_2

['age',
 'hypertension',
 'heart_disease',
 'bmi',
 'gender',
 'work_type_children',
 'smoking_status_Unknown',
 'ever_married',
 'work_type_Never_worked',
 'age*bmi',
 'heart_disease*gender',
 'work_type_children*smoking_status_Unknown',
 'hypertension*bmi',
 'age*smoking_status_Unknown',
 'hypertension*smoking_status_Unknown',
 'age*work_type_Never_worked',
 'age*ever_married']

In [357]:
model_final = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:3.75}))])
model_final.fit(X_copy.loc[:,X_2], T)

predictions_binary = model_final.predict(X_copy.loc[:,X_2])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.7802

Confusion matrix:
[[3405  749]
 [ 330  424]]

F1 score is: 0.4401

In [358]:
treat_index = []
control_index = []
for i in range(0,len(T)):
    if T[i] == 1:
        treat_index.append(i)
    elif T[i] == 0:
        control_index.append(i)

In [359]:
predictions = model_final.predict_proba(X_copy.loc[:,X_2])

ate_ipw = sum([T[i]*Y[i]/predictions[i][1] for i in treat_index]) / sum([T[i]/predictions[i][1] for i in treat_index]) 
- sum([(1-T[i])*Y[i]/(1-predictions[i][1]) for i in control_index]) / sum([(1-T[i])/(1-predictions[i][1]) for i in control_index])

-0.04405140939553362