In [79]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [32]:
df_pre = pd.read_csv('./healthcare-dataset-stroke-data.csv')

In [42]:
df_pre

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [43]:
df_na = df_pre.dropna()

In [50]:
pd.isnull(df_na).any()

id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                  False
smoking_status       False
stroke               False
marriage             False
dtype: bool

In [80]:
df_na['marriage'] = df_na.ever_married.map({'Yes':1, 'No':0})

In [98]:
df_na.head(30)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,marriage,Obesity
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,1,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,1,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,1,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,1,0
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1,1,0
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1,1,0
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1,0,0
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1,1,0
10,12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1,1,0
11,12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1,1,1
12,12175,Female,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1,1,0
14,5317,Female,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1,1,0
15,58202,Female,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1,1,1
16,56112,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1,1,1
17,34120,Male,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes,1,1,0
18,27458,Female,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked,1,0,1
20,70630,Female,71.0,0,0,Yes,Govt_job,Rural,193.94,22.4,smokes,1,1,0
21,13861,Female,52.0,1,0,Yes,Self-employed,Urban,233.29,48.9,never smoked,1,1,1
22,68794,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1,1,0
23,64778,Male,82.0,0,1,Yes,Private,Rural,208.30,32.5,Unknown,1,1,1
24,4219,Male,71.0,0,0,Yes,Private,Urban,102.87,27.2,formerly smoked,1,1,0
25,70822,Male,80.0,0,0,Yes,Self-employed,Rural,104.12,23.5,never smoked,1,1,0
26,38047,Female,65.0,0,0,Yes,Private,Rural,100.98,28.2,formerly smoked,1,1,0
28,54827,Male,69.0,0,1,Yes,Self-employed,Urban,195.23,28.3,smokes,1,1,0
30,43717,Male,57.0,1,0,Yes,Private,Urban,212.08,44.2,smokes,1,1,1
31,33879,Male,42.0,0,0,Yes,Private,Rural,83.41,25.4,Unknown,1,1,0
32,39373,Female,82.0,1,0,Yes,Self-employed,Urban,196.92,22.2,never smoked,1,1,0
33,54401,Male,80.0,0,1,Yes,Self-employed,Urban,252.72,30.5,formerly smoked,1,1,1
34,14248,Male,48.0,0,0,No,Govt_job,Urban,84.20,29.7,never smoked,1,0,0
35,712,Female,82.0,1,1,No,Private,Rural,84.03,26.5,formerly smoked,1,0,0

In [99]:
def BMI_check(x):
    if x >= 30:
        return 1
    else:
        return 0
    
df_na['Obesity'] = df_na.bmi.apply(BMI_check)

In [101]:
df_na.Obesity.value_counts()

0    2989
1    1920
Name: Obesity, dtype: int64

In [102]:
df_clean = df_na.drop(columns = ['ever_married'])

In [105]:
df_clean.head(10)

,id,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,marriage,Obesity
0,9046,Male,67.0,0,1,Private,Urban,228.69,36.6,formerly smoked,1,1,1
2,31112,Male,80.0,0,1,Private,Rural,105.92,32.5,never smoked,1,1,1
3,60182,Female,49.0,0,0,Private,Urban,171.23,34.4,smokes,1,1,1
4,1665,Female,79.0,1,0,Self-employed,Rural,174.12,24.0,never smoked,1,1,0
5,56669,Male,81.0,0,0,Private,Urban,186.21,29.0,formerly smoked,1,1,0
6,53882,Male,74.0,1,1,Private,Rural,70.09,27.4,never smoked,1,1,0
7,10434,Female,69.0,0,0,Private,Urban,94.39,22.8,never smoked,1,0,0
9,60491,Female,78.0,0,0,Private,Urban,58.57,24.2,Unknown,1,1,0
10,12109,Female,81.0,1,0,Private,Rural,80.43,29.7,never smoked,1,1,0
11,12095,Female,61.0,0,1,Govt_job,Rural,120.46,36.8,smokes,1,1,1

In [106]:
df_clean.to_csv('clean_stroke_data.csv')

In [89]:
np.unique(df_clean['work_type'])

array(['Govt_job', 'Never_worked', 'Private', 'Self-employed', 'children'],
      dtype=object)

In [90]:
np.unique(df_na['Residence_type'])

array(['Rural', 'Urban'], dtype=object)

In [107]:
df_dum = pd.get_dummies(df_clean, columns = ['gender','work_type','smoking_status', 'Residence_type'], \
                           prefix = {'gender': 'Gender','work_type':'Work', 'smoking_status' : 'smoking', 'Residence_type' : 'Residence'}, drop_first=False)

In [109]:
df_dum.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,marriage,Obesity,Gender_Female,...,Work_Never_worked,Work_Private,Work_Self-employed,Work_children,smoking_Unknown,smoking_formerly smoked,smoking_never smoked,smoking_smokes,Residence_Rural,Residence_Urban
0,9046,67.0,0,1,228.69,36.6,1,1,1,0,...,0,1,0,0,0,1,0,0,0,1
2,31112,80.0,0,1,105.92,32.5,1,1,1,0,...,0,1,0,0,0,0,1,0,1,0
3,60182,49.0,0,0,171.23,34.4,1,1,1,1,...,0,1,0,0,0,0,0,1,0,1
4,1665,79.0,1,0,174.12,24.0,1,1,0,1,...,0,0,1,0,0,0,1,0,1,0
5,56669,81.0,0,0,186.21,29.0,1,1,0,0,...,0,1,0,0,0,1,0,0,0,1

In [110]:
df_dum.to_csv('stroke_data_dummies.csv')